table, th, tr, td{
    border: 2px solid rgb(50, 50, 50 );
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
}


.thead{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

.days{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

.body{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    align-content: center;
}

.split{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    align-content: center;
}
